.incredibleDaily {
  /* background-color: rgb(255, 72, 0); */
  background-image: url(../../svg/incredibleDaily/topSection/background.svg),
    linear-gradient(180deg, #e6123d, #c60c31);
  background-repeat: repeat-x, repeat-x;
  grid-area: incredibleDaily;
  justify-self: center;
  width: 86%;

  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  padding-bottom: 15px;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 15px;
  margin: 15px 0;
  overflow: hidden;
  border-radius: var(--border-radius-min);
  .incredibleDaily__topSection {
    height: 65px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    box-sizing: content-box;
    h4 {
      color: white;
    }
    img {
      height: 20px;
      width: 20px;
      margin-left: 5px;
    }
  }
  .incredibleDaily__bottomSection {
    width: 100%;
    flex: 1;
    direction: rtl;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--border-radius-min);
      padding: 5px 10px;
      .content-container {
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
        display: flex;
        flex-flow: column wrap;
        .swiper-slide__topSection {
          height: 26.03px;
          width: 100%;
          /* background-color: red; */
          display: flex;
          align-items: center;
          text-align: right;
          img {
            width: 116px;
            height: 14px;
          }
        }
        .swiper-slide__bottomSection {
          flex: 1;
          width: 100%;
          /* background-color: orange; */
          display: flex;
          flex-flow: row wrap;
          column-gap: 10px;
          padding: 10px;

          .bottomSection__left {
            height: 100%;
            flex: 1;
            /* background-color: #e6d112; */
            display: flex;
            flex-flow: column wrap;
            padding-top: 65px;
            .product-info {
              height: 52px;
              text-align: right;
              h6 {
                font-weight: 700;
              }
            }
            .product-rating {
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
              height: 27px;
              /* background-color: aqua; */
              .rating-right {
                display: flex;
                height: 100%;
                flex-flow: row wrap;
                column-gap: 5px;
                align-items: center;
                color: rgb(66, 71, 80);
                .dark-circle {
                  width: 15px;
                  height: 15px;
                  background: rgb(33, 33, 33);
                  border-radius: 50%;
                }
                .blue-circle {
                  width: 15px;
                  height: 15px;
                  background: rgb(33, 150, 243);
                  border-radius: 50%;
                }
                .white-circle {
                  width: 15px;
                  height: 15px;
                  background: white;
                  border-radius: 50%;
                }
                .more-info {
                  font-size: 11px;
                }
              }
              .rating-left {
                display: flex;
                flex-flow: row wrap;
                column-gap: 10px;
                align-items: center;

                .point {
                  font-size: 16px;
                  font-family: var(--fontnaz);
                }
                .small-icon {
                  margin-top: -5px;
                }
              }
            }
            .product-price {
              margin-top: 4px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              /* background-color: lightgreen; */
              .offPercent {
                background-color: rgb(211, 47, 47);
                color: white;
                font-size: 14px;
                font-weight: 600;
                padding: 0 8px;
                border-radius: 10px;
                font-family: var(--fontnaz);
                width: fit-content;
              }
              .price {
                display: flex;
                column-gap: 5px;
                div:nth-of-type(1) {
                  font-family: var(--fontnaz);
                  font-size: 22px;
                  font-weight: bold;
                }
                div:nth-of-type(2) {
                  display: flex;
                  align-items: center;
                  img {
                    height: 14px;
                    width: 14px;
                  }
                }
              }
            }
            .product-off {
              font-family: var(--fontnaz);
              font-size: 16px;
              text-align: left;
              padding-left: 22px;
              margin-top: 5px;
              text-decoration: line-through;
              color: rgb(192, 194, 197);
            }
            .product-percent {
              height: 4px;
              width: 100%;
              background-color: rgb(240, 240, 241);
              display: flex;
              justify-content: flex-end;
              margin-top: 3px;
              .red {
                width: 62%;
                height: 100%;
                background-color: rgb(239, 57, 78);
              }
            }
            .product-quantity {
              width: 100%;
              flex: 1;
              display: flex;
              justify-content: space-between;
              /* background-color: aqua; */
              .rightSection {
                color: rgb(129, 133, 139);
                font-size: 15px;
                font-family: var(--fontnaz);

                span {
                  color: rgb(239, 57, 78);
                  margin-left: 4px;
                }
              }
              .leftSection {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: rgb(239, 57, 78);
              }
            }
          }
          .bottomSection__right {
            height: 100%;
            width: 200px;
            /* background-color: #e6123d; */
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 200px;
              width: 200px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
}
